# Naive Bayes Classifier

In [1]:
import pandas as pd
path="C:\\Users\\Sriram\\Downloads\\Data\\Data\\titanicsurvival.csv"
data=pd.read_csv(path)
print(data)
print(data.info())

     Pclass  Gender   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Gender    891 non-null    object
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB
None

In [2]:
#data can be of any numeric type

In [5]:
medianval=data.Age.median()
print(medianval)
data.Age=data.Age.fillna(medianval)
data['Gender']=data['Gender'].map({'male':1,'female':0}) #when  less variable we use map
print(data)

28.0
     Pclass  Gender   Age     Fare  Survived
0         3       1  22.0   7.2500         0
1         1       0  38.0  71.2833         1
2         3       0  26.0   7.9250         1
3         1       0  35.0  53.1000         1
4         3       1  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2       1  27.0  13.0000         0
887       1       0  19.0  30.0000         1
888       3       0  28.0  23.4500         0
889       1       1  26.0  30.0000         1
890       3       1  32.0   7.7500         0

[891 rows x 5 columns]

In [6]:
inputs=data.drop(['Survived'],'columns')
output=data.drop(['Pclass','Gender','Age','Fare'],'columns')
print(inputs)
print(output)

     Pclass  Gender   Age     Fare
0         3       1  22.0   7.2500
1         1       0  38.0  71.2833
2         3       0  26.0   7.9250
3         1       0  35.0  53.1000
4         3       1  35.0   8.0500
..      ...     ...   ...      ...
886       2       1  27.0  13.0000
887       1       0  19.0  30.0000
888       3       0  28.0  23.4500
889       1       1  26.0  30.0000
890       3       1  32.0   7.7500

[891 rows x 4 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

C:\Users\Sriram\AppData\Local\Temp\ipykernel_10992\4255526994.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['Survived'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_10992\4255526994.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['Pclass','Gender','Age','Fare'],'columns')

In [7]:
#if dataset is small train and test is not required

In [9]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,train_size=0.8)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     Pclass  Gender   Age     Fare
501       3       0  21.0   7.7500
402       3       0  21.0   9.8250
29        3       1  28.0   7.8958
482       3       1  50.0   8.0500
149       2       1  42.0  13.0000
..      ...     ...   ...      ...
19        3       0  28.0   7.2250
447       1       1  34.0  26.5500
404       3       0  20.0   8.6625
398       2       1  23.0  10.5000
190       2       0  32.0  13.0000

[712 rows x 4 columns]
     Pclass  Gender   Age     Fare
704       3       1  26.0   7.8542
174       1       1  56.0  30.6958
764       3       1  16.0   7.7750
568       3       1  28.0   7.2292
583       1       1  36.0  40.1250
..      ...     ...   ...      ...
605       3       1  36.0  15.5500
130       3       1  33.0   7.8958
199       2       0  24.0  13.0000
145       2       1  19.0  36.7500
260       3       1  28.0   7.7500

[179 rows x 4 columns]
     Survived
501         0
402         0
29          0
482         0
149         0
..        ...
19          1
447         1
404         0
398         0
190         1

[712 rows x 1 columns]
     Survived
704         0
174         0
764         0
568         0
583         0
..        ...
605         0
130         0
199         0
145         0
260         0

[179 rows x 1 columns]

In [10]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)
print(y_test)

[0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 1 1 0
 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 0 0 1 0 1 0 1 1 1 0 0 0
 1 1 0 1 0 1 0 0 0 0 0 1 1 0 0 0 1 1 0 1 0 1 1 1 0 1 1 0 1 1 1 1 0 0 0 0 1
 1 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 1 1 0 1 0 0
 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 0]
     Survived
704         0
174         0
764         0
568         0
583         0
..        ...
605         0
130         0
199         0
145         0
260         0

[179 rows x 1 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
pclass=int(input('Enter person pclass,1/2/3:'))
gender=int(input('enter the gender 0-->Female 1-->Male:'))
age=int(input('enter the age of the Person:'))
fare=int(input('enter the fare:'))
result=model.predict([[pclass,gender,age,fare]])
print(result)
if result==1:
    print('person survived')
else:
    print('person not survived')

Enter person pclass,1/2/3:2
enter the gender 0-->Female 1-->Male:1
enter the age of the Person:34
enter the fare:56000
[1]
person survived

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(