# KNN

In [1]:
import pandas as pd
path="C:\\Users\\Sriram\\Downloads\\40_customerClassification\\Telecust1.csv"
data=pd.read_csv(path)

print(data)
print(data.info())

     region  tenure  age  income  marital  address  ed  employ  retire  \
0         2      13   44      64        1        9   4       5       0
1         3      11   33     136        1        7   5       5       0
2         3      68   52     116        1       24   1      29       0
3         2      33   33      33        0       12   2       0       0
4         2      23   30      30        1        9   1       2       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
995       3      10   39      27        0        0   3       0       0
996       1       7   34      22        0        2   5       5       0
997       3      67   59     944        0       40   5      33       0
998       3      70   49      87        0       18   2      22       0
999       3      50   36      39        1        7   3       3       0

     gender  reside custcat
0         0       2       A
1         0       6       D
2         1       2       C
3         1       1       A
4         0       4       C
..      ...     ...     ...
995       1       3       A
996       1       1       A
997       1       1       D
998       1       1       C
999       1       3       B

[1000 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   region   1000 non-null   int64
 1   tenure   1000 non-null   int64
 2   age      1000 non-null   int64
 3   income   1000 non-null   int64
 4   marital  1000 non-null   int64
 5   address  1000 non-null   int64
 6   ed       1000 non-null   int64
 7   employ   1000 non-null   int64
 8   retire   1000 non-null   int64
 9   gender   1000 non-null   int64
 10  reside   1000 non-null   int64
 11  custcat  1000 non-null   object
dtypes: int64(11), object(1)
memory usage: 93.9+ KB
None

In [2]:
# import sklearn
# from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()
# data['custcat']=le.fit_transform(data[['custcat']])
# inputs=data.drop(['custcat'],'columns')
# output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [3]:
print(inputs)

     region  tenure  age  income  marital  address  ed  employ  retire  \
0         2      13   44      64        1        9   4       5       0
1         3      11   33     136        1        7   5       5       0
2         3      68   52     116        1       24   1      29       0
3         2      33   33      33        0       12   2       0       0
4         2      23   30      30        1        9   1       2       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
995       3      10   39      27        0        0   3       0       0
996       1       7   34      22        0        2   5       5       0
997       3      67   59     944        0       40   5      33       0
998       3      70   49      87        0       18   2      22       0
999       3      50   36      39        1        7   3       3       0

     gender  reside
0         0       2
1         0       6
2         1       2
3         1       1
4         0       4
..      ...     ...
995       1       3
996       1       1
997       1       1
998       1       1
999       1       3

[1000 rows x 11 columns]

In [4]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [5]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     region  tenure  age  income  marital  address  ed  employ  retire  \
142       1      20   34      22        1        2   4       0       0
487       2      54   56     207        0        8   2      35       0
15        1      29   38      75        1       12   5       1       0
462       3      25   30      20        0        0   1       4       0
803       1      52   49      69        0       18   2      13       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
658       3      24   35      41        1       10   5       6       0
296       2      28   40      64        0        7   1      19       0
637       1       9   41      39        0       12   4       3       0
292       1      30   27      47        0        4   4       2       0
608       1       3   31      23        1        4   4       4       0

     gender  reside
142       1       3
487       1       1
15        0       4
462       1       1
803       1       2
..      ...     ...
658       1       2
296       0       1
637       0       1
292       1       2
608       0       5

[800 rows x 11 columns]
     region  tenure  age  income  marital  address  ed  employ  retire  \
911       3      17   50     205        0        2   5      19       0
220       1       8   30      34        0        1   2       9       0
509       1      42   33      67        0        2   2       5       0
697       2      65   72      12        0       46   2       0       1
649       3      23   50     151        0        1   4       8       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
752       3      53   38      20        1       15   3       6       0
399       3      52   42      27        1       17   3       8       0
917       3      70   68    1131        0       21   2      45       0
103       1      29   32      49        1        0   4       3       0
333       1      20   37      46        0        5   3      10       0

     gender  reside
911       0       1
220       1       1
509       0       2
697       0       1
649       1       1
..      ...     ...
752       1       4
399       1       2
917       0       1
103       1       3
333       1       4

[200 rows x 11 columns]
     custcat
142        3
487        2
15         1
462        2
803        2
..       ...
658        1
296        2
637        0
292        1
608        3

[800 rows x 1 columns]
     custcat
911        3
220        2
509        1
697        2
649        0
..       ...
752        1
399        2
917        2
103        1
333        3

[200 rows x 1 columns]

In [6]:
# from sklearn.neighbors import KNeighborsClassifier
# model=KNeighborsClassifier(n_neighbors=13)
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)
# print(y_test)

[2 3 3 2 2 0 2 2 2 2 2 2 1 3 2 0 2 2 0 2 3 0 2 0 1 2 2 0 2 2 2 0 1 2 0 0 0
 1 0 0 0 0 0 2 0 1 1 1 0 0 2 3 1 0 0 2 1 0 3 0 2 1 0 2 0 2 1 2 2 1 0 1 0 2
 1 0 3 1 0 2 0 0 0 0 3 3 0 3 2 2 2 1 3 1 2 0 0 0 0 3 2 0 2 2 1 3 0 0 0 0 0
 1 0 0 2 2 2 1 2 1 2 3 0 3 2 3 2 1 3 3 0 2 2 3 0 2 0 2 3 0 2 2 3 0 3 3 1 3
 0 3 0 0 0 2 3 0 0 0 0 0 0 3 1 2 0 0 2 3 0 0 0 0 0 2 2 0 1 0 2 3 2 2 0 1 2
 2 2 1 1 2 2 0 0 2 0 2 2 3 2 0]
     custcat
911        3
220        2
509        1
697        2
649        0
..       ...
752        1
399        2
917        2
103        1
333        3

[200 rows x 1 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [7]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[26  3 19  5]
 [12 16 14  6]
 [20  5 19  6]
 [17  4 15 13]]

In [8]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 37.0 %

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [10]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [11]:
print(inputs)

     region    tenure       age    income  marital   address    ed    employ  \
0       0.5  0.169014  0.440678  0.033153        1  0.163636  0.75  0.106383
1       1.0  0.140845  0.254237  0.076552        1  0.127273  1.00  0.106383
2       1.0  0.943662  0.576271  0.064497        1  0.436364  0.00  0.617021
3       0.5  0.450704  0.254237  0.014467        0  0.218182  0.25  0.000000
4       0.5  0.309859  0.203390  0.012658        1  0.163636  0.00  0.042553
..      ...       ...       ...       ...      ...       ...   ...       ...
995     1.0  0.126761  0.355932  0.010850        0  0.000000  0.50  0.000000
996     0.0  0.084507  0.271186  0.007836        0  0.036364  1.00  0.106383
997     1.0  0.929577  0.694915  0.563593        0  0.727273  1.00  0.702128
998     1.0  0.971831  0.525424  0.047016        0  0.327273  0.25  0.468085
999     1.0  0.690141  0.305085  0.018083        1  0.127273  0.50  0.063830

     retire  gender    reside
0         0       0  0.142857
1         0       0  0.714286
2         0       1  0.142857
3         0       1  0.000000
4         0       0  0.428571
..      ...     ...       ...
995       0       1  0.285714
996       0       1  0.000000
997       0       1  0.000000
998       0       1  0.000000
999       0       1  0.285714

[1000 rows x 11 columns]

In [12]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [13]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     region    tenure       age    income  marital   address    ed    employ  \
959     1.0  0.704225  0.525424  0.116938        1  0.236364  0.50  0.574468
131     0.5  0.084507  0.288136  0.022905        1  0.000000  0.00  0.297872
523     0.0  0.436620  0.271186  0.013864        1  0.127273  0.25  0.319149
747     1.0  0.619718  0.152542  0.018083        1  0.054545  0.50  0.042553
608     0.0  0.028169  0.220339  0.008439        1  0.072727  0.75  0.085106
..      ...       ...       ...       ...      ...       ...   ...       ...
780     0.5  0.225352  0.355932  0.021700        0  0.218182  0.75  0.212766
930     0.5  0.535211  0.440678  0.246534        1  0.254545  0.75  0.382979
18      0.5  0.000000  0.101695  0.006631        0  0.054545  0.00  0.063830
967     0.0  0.112676  0.305085  0.042194        0  0.018182  0.50  0.234043
913     0.5  0.098592  0.355932  0.018083        0  0.000000  0.00  0.148936

     retire  gender    reside
959       0       0  0.428571
131       0       0  0.571429
523       0       0  0.428571
747       0       0  0.428571
608       0       0  0.571429
..      ...     ...       ...
780       0       1  0.000000
930       0       0  0.142857
18        0       0  0.000000
967       0       1  0.571429
913       0       1  0.000000

[800 rows x 11 columns]
     region    tenure       age    income  marital   address    ed    employ  \
43      0.0  0.112676  0.305085  0.031947        1  0.254545  0.75  0.212766
954     0.5  0.084507  0.389831  0.051236        0  0.109091  0.25  0.340426
743     0.0  0.577465  0.406780  0.019289        1  0.163636  0.25  0.276596
226     0.5  0.591549  0.423729  0.027728        1  0.054545  0.75  0.382979
670     1.0  1.000000  0.966102  0.003014        0  0.872727  0.25  0.127660
..      ...       ...       ...       ...      ...       ...   ...       ...
450     0.0  0.633803  0.220339  0.007233        1  0.218182  0.00  0.106383
42      0.5  0.366197  0.169492  0.008439        1  0.072727  0.25  0.170213
655     1.0  0.746479  0.254237  0.022905        0  0.090909  0.25  0.276596
371     1.0  0.549296  0.661017  0.035564        1  0.327273  0.00  0.489362
458     0.5  0.957746  0.762712  0.095841        0  0.509091  0.00  0.914894

     retire  gender    reside
43        0       0  0.714286
954       0       0  0.000000
743       0       0  1.000000
226       0       1  0.428571
670       1       1  0.000000
..      ...     ...       ...
450       0       0  0.571429
42        0       0  0.571429
655       0       1  0.142857
371       0       0  0.142857
458       0       1  0.142857

[200 rows x 11 columns]
     custcat
959        2
131        0
523        0
747        1
608        3
..       ...
780        0
930        3
18         0
967        2
913        0

[800 rows x 1 columns]
     custcat
43         3
954        3
743        2
226        3
670        1
..       ...
450        2
42         0
655        2
371        2
458        2

[200 rows x 1 columns]

In [14]:
# from sklearn.neighbors import KNeighborsClassifier
# model=KNeighborsClassifier(n_neighbors=13)
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)
# print(y_test)

[3 0 1 2 2 0 0 3 2 1 3 2 2 2 0 1 1 0 2 0 0 3 2 0 2 3 2 0 0 2 2 2 2 3 1 0 2
 1 1 1 0 3 2 2 3 3 0 3 2 0 0 1 1 2 0 0 0 2 3 2 3 0 0 0 1 3 2 0 0 3 2 2 1 2
 2 1 1 3 1 2 0 2 2 0 0 1 0 3 1 0 0 2 0 2 1 0 1 0 2 0 2 0 1 0 1 0 2 2 0 1 2
 0 1 1 2 3 3 2 2 1 1 3 3 2 3 2 1 3 0 2 0 0 1 0 2 2 2 0 1 0 2 1 3 0 1 1 2 0
 3 1 2 2 3 0 0 1 1 3 2 2 3 0 2 3 1 3 0 1 2 2 1 3 2 0 3 0 1 3 2 2 1 0 1 2 3
 1 1 1 0 3 1 1 3 1 0 2 0 2 0 2]
     custcat
43         3
954        3
743        2
226        3
670        1
..       ...
450        2
42         0
655        2
371        2
458        2

[200 rows x 1 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [15]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[28  7 18 11]
 [ 6 14 12 10]
 [14 17 23  4]
 [ 9  9  8 10]]

In [16]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 37.5 %

# SVM

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [18]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [19]:
print(inputs)

     region    tenure       age    income  marital   address    ed    employ  \
0       0.5  0.169014  0.440678  0.033153        1  0.163636  0.75  0.106383
1       1.0  0.140845  0.254237  0.076552        1  0.127273  1.00  0.106383
2       1.0  0.943662  0.576271  0.064497        1  0.436364  0.00  0.617021
3       0.5  0.450704  0.254237  0.014467        0  0.218182  0.25  0.000000
4       0.5  0.309859  0.203390  0.012658        1  0.163636  0.00  0.042553
..      ...       ...       ...       ...      ...       ...   ...       ...
995     1.0  0.126761  0.355932  0.010850        0  0.000000  0.50  0.000000
996     0.0  0.084507  0.271186  0.007836        0  0.036364  1.00  0.106383
997     1.0  0.929577  0.694915  0.563593        0  0.727273  1.00  0.702128
998     1.0  0.971831  0.525424  0.047016        0  0.327273  0.25  0.468085
999     1.0  0.690141  0.305085  0.018083        1  0.127273  0.50  0.063830

     retire  gender    reside
0         0       0  0.142857
1         0       0  0.714286
2         0       1  0.142857
3         0       1  0.000000
4         0       0  0.428571
..      ...     ...       ...
995       0       1  0.285714
996       0       1  0.000000
997       0       1  0.000000
998       0       1  0.000000
999       0       1  0.285714

[1000 rows x 11 columns]

In [20]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [21]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [22]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[28  7 18 11]
 [ 6 14 12 10]
 [14 17 23  4]
 [ 9  9  8 10]]

In [23]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 37.5 %

In [24]:
res=model.predict([[ 0.5,0.169014,0.440678,0.033153,1,0.163636,0.75,0.106383,0,0,0.142857]])
print(res[0])

3

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [25]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [26]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [27]:
print(inputs)

       region    tenure       age    income  marital   address        ed  \
0   -0.026968 -1.055125  0.184505 -0.126506        1 -0.253034  1.087753
1    1.198836 -1.148806 -0.691812  0.546450        1 -0.451415  1.906227
2    1.198836  1.521092  0.821826  0.359517        1  1.234819 -1.367671
3   -0.026968 -0.118319 -0.691812 -0.416251        0  0.044536 -0.549196
4   -0.026968 -0.586722 -0.930808 -0.444291        1 -0.253034 -1.367671
..        ...       ...       ...       ...      ...       ...       ...
995  1.198836 -1.195646 -0.213821 -0.472331        0 -1.145747  0.269278
996 -1.252771 -1.336167 -0.612147 -0.519064        0 -0.947366  1.906227
997  1.198836  1.474252  1.379482  8.098513        0  2.821863  1.906227
998  1.198836  1.614773  0.582830  0.088466        0  0.639678 -0.549196
999  1.198836  0.677967 -0.452817 -0.360172        1 -0.451415  0.269278

       employ  retire  gender    reside
0   -0.594123       0       0 -0.230650
1   -0.594123       0       0  2.556662
2    1.787528       0       1 -0.230650
3   -1.090300       0       1 -0.927478
4   -0.891829       0       0  1.163006
..        ...     ...     ...       ...
995 -1.090300       0       1  0.466178
996 -0.594123       0       1 -0.927478
997  2.184470       0       1 -0.927478
998  1.092880       0       1 -0.927478
999 -0.792593       0       1  0.466178

[1000 rows x 11 columns]

In [28]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [29]:
# from sklearn.svm import SVC
# model=SVC()
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)
# print(y_test)

[3 0 2 3 2 0 2 3 3 2 3 2 2 2 0 1 3 0 2 0 0 0 3 3 2 0 2 3 0 0 0 2 2 3 3 0 2
 3 1 0 2 3 1 2 3 3 0 3 2 0 2 1 0 3 0 0 0 2 3 2 3 2 2 0 3 3 2 2 2 3 2 2 0 2
 2 3 1 2 1 2 0 3 2 2 0 1 2 3 2 0 0 2 0 2 2 2 3 0 2 2 2 0 1 0 1 2 2 2 0 2 2
 0 1 2 2 2 3 2 2 3 1 3 3 2 3 2 1 3 0 2 0 3 3 0 2 2 2 0 2 0 2 3 3 0 3 3 2 0
 3 3 0 2 2 0 2 2 1 3 2 2 3 0 2 3 3 3 0 2 2 2 1 0 2 2 3 0 2 3 2 2 2 0 3 2 3
 1 1 1 0 3 3 0 3 3 0 2 2 2 2 2]
     custcat
43         3
954        3
743        2
226        3
670        1
..       ...
450        2
42         0
655        2
371        2
458        2

[200 rows x 1 columns]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [30]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[26  4 23 11]
 [ 5  6 14 17]
 [12  4 35  7]
 [ 5  3 10 18]]

In [31]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 42.5 %

# Random forest

In [32]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [33]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [34]:
print(inputs)

     region    tenure       age    income  marital   address    ed    employ  \
0       0.5  0.169014  0.440678  0.033153        1  0.163636  0.75  0.106383
1       1.0  0.140845  0.254237  0.076552        1  0.127273  1.00  0.106383
2       1.0  0.943662  0.576271  0.064497        1  0.436364  0.00  0.617021
3       0.5  0.450704  0.254237  0.014467        0  0.218182  0.25  0.000000
4       0.5  0.309859  0.203390  0.012658        1  0.163636  0.00  0.042553
..      ...       ...       ...       ...      ...       ...   ...       ...
995     1.0  0.126761  0.355932  0.010850        0  0.000000  0.50  0.000000
996     0.0  0.084507  0.271186  0.007836        0  0.036364  1.00  0.106383
997     1.0  0.929577  0.694915  0.563593        0  0.727273  1.00  0.702128
998     1.0  0.971831  0.525424  0.047016        0  0.327273  0.25  0.468085
999     1.0  0.690141  0.305085  0.018083        1  0.127273  0.50  0.063830

     retire  gender    reside
0         0       0  0.142857
1         0       0  0.714286
2         0       1  0.142857
3         0       1  0.000000
4         0       0  0.428571
..      ...     ...       ...
995       0       1  0.285714
996       0       1  0.000000
997       0       1  0.000000
998       0       1  0.000000
999       0       1  0.285714

[1000 rows x 11 columns]

In [35]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [36]:
# import sklearn
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)
# from sklearn.ensemble import RandomForestClassifier
# model=RandomForestClassifier(n_estimators=300) #no of decision trees
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)

C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\577395312.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

[2 0 0 1 0 0 2 0 2 3 0 3 0 2 0 2 0 1 1 0 0 1 3 3 0 0 2 2 1 0 3 2 3 2 2 2 0
 2 0 3 2 0 0 2 1 2 2 1 2 0 2 0 3 2 2 0 0 3 2 0 2 0 0 2 2 0 0 0 1 1 3 2 0 2
 0 0 2 0 0 2 0 3 1 3 2 1 2 2 1 3 2 1 2 0 0 3 1 0 2 1 0 3 3 2 3 0 0 0 0 0 2
 2 1 2 1 3 0 2 2 2 1 3 0 0 0 2 1 0 0 1 2 1 2 0 0 3 1 0 0 2 0 1 1 0 3 3 2 0
 0 0 3 0 2 2 0 1 2 1 1 1 0 1 3 2 0 3 1 3 2 3 3 3 2 0 0 2 0 0 3 3 2 2 1 0 0
 2 2 2 2 3 0 0 2 1 0 0 0 2 0 3]

In [37]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[27  4 14  7]
 [14  9 10  8]
 [20  7 24  3]
 [13 12 13 15]]

In [38]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 37.5 %

In [39]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [40]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [41]:
print(inputs)

       region    tenure       age    income  marital   address        ed  \
0   -0.026968 -1.055125  0.184505 -0.126506        1 -0.253034  1.087753
1    1.198836 -1.148806 -0.691812  0.546450        1 -0.451415  1.906227
2    1.198836  1.521092  0.821826  0.359517        1  1.234819 -1.367671
3   -0.026968 -0.118319 -0.691812 -0.416251        0  0.044536 -0.549196
4   -0.026968 -0.586722 -0.930808 -0.444291        1 -0.253034 -1.367671
..        ...       ...       ...       ...      ...       ...       ...
995  1.198836 -1.195646 -0.213821 -0.472331        0 -1.145747  0.269278
996 -1.252771 -1.336167 -0.612147 -0.519064        0 -0.947366  1.906227
997  1.198836  1.474252  1.379482  8.098513        0  2.821863  1.906227
998  1.198836  1.614773  0.582830  0.088466        0  0.639678 -0.549196
999  1.198836  0.677967 -0.452817 -0.360172        1 -0.451415  0.269278

       employ  retire  gender    reside
0   -0.594123       0       0 -0.230650
1   -0.594123       0       0  2.556662
2    1.787528       0       1 -0.230650
3   -1.090300       0       1 -0.927478
4   -0.891829       0       0  1.163006
..        ...     ...     ...       ...
995 -1.090300       0       1  0.466178
996 -0.594123       0       1 -0.927478
997  2.184470       0       1 -0.927478
998  1.092880       0       1 -0.927478
999 -0.792593       0       1  0.466178

[1000 rows x 11 columns]

In [42]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [43]:
# import sklearn
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)
# from sklearn.ensemble import RandomForestClassifier
# model=RandomForestClassifier(n_estimators=300) #no of decision trees
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)

C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\577395312.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

[0 3 0 1 2 2 0 2 2 0 0 3 1 1 2 2 1 1 3 2 2 1 0 0 3 1 3 2 3 1 2 2 2 2 0 0 3
 3 2 0 0 1 0 0 3 2 0 2 3 2 3 2 2 0 2 1 3 3 1 1 2 0 3 2 1 3 2 1 3 1 2 3 3 3
 0 1 1 1 3 3 1 3 1 1 1 2 0 1 3 2 2 1 1 3 0 3 0 0 2 2 3 3 2 2 2 1 2 1 2 0 1
 1 2 2 3 0 0 2 1 3 0 0 2 2 3 3 0 3 3 2 3 3 2 3 1 2 3 2 0 1 3 1 2 0 3 0 2 3
 2 2 0 3 0 0 0 1 3 2 2 3 0 0 1 2 2 2 0 0 2 0 1 3 0 0 3 3 0 3 2 0 3 2 2 0 0
 3 2 1 0 1 1 2 0 2 2 3 2 2 1 3]

In [44]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[20  8 25  9]
 [ 6 13 10  8]
 [11 11 19 15]
 [10  8  8 19]]

In [45]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 35.5 %

# Decision Tree

In [46]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [47]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [48]:
print(inputs)

       region    tenure       age    income  marital   address        ed  \
0   -0.026968 -1.055125  0.184505 -0.126506        1 -0.253034  1.087753
1    1.198836 -1.148806 -0.691812  0.546450        1 -0.451415  1.906227
2    1.198836  1.521092  0.821826  0.359517        1  1.234819 -1.367671
3   -0.026968 -0.118319 -0.691812 -0.416251        0  0.044536 -0.549196
4   -0.026968 -0.586722 -0.930808 -0.444291        1 -0.253034 -1.367671
..        ...       ...       ...       ...      ...       ...       ...
995  1.198836 -1.195646 -0.213821 -0.472331        0 -1.145747  0.269278
996 -1.252771 -1.336167 -0.612147 -0.519064        0 -0.947366  1.906227
997  1.198836  1.474252  1.379482  8.098513        0  2.821863  1.906227
998  1.198836  1.614773  0.582830  0.088466        0  0.639678 -0.549196
999  1.198836  0.677967 -0.452817 -0.360172        1 -0.451415  0.269278

       employ  retire  gender    reside
0   -0.594123       0       0 -0.230650
1   -0.594123       0       0  2.556662
2    1.787528       0       1 -0.230650
3   -1.090300       0       1 -0.927478
4   -0.891829       0       0  1.163006
..        ...     ...     ...       ...
995 -1.090300       0       1  0.466178
996 -0.594123       0       1 -0.927478
997  2.184470       0       1 -0.927478
998  1.092880       0       1 -0.927478
999 -0.792593       0       1  0.466178

[1000 rows x 11 columns]

In [49]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [50]:
# import sklearn
# from sklearn.model_selection import train_test_split
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)
# from sklearn import tree
# model=tree.DecisionTreeClassifier()
# model.fit(inputs,output)
# res=model.predict([[-0.026968,-1.055125,0.184505,-0.126506,1,-0.253034,1.087753,-0.594123,0,0,-0.230650 ]])
# print(res[0])

C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\334136168.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

[0 3 0 1 2 2 0 3 2 0 0 3 1 1 2 2 1 1 3 2 2 1 0 0 3 1 3 2 3 1 2 3 2 2 0 0 2
 3 2 0 0 1 0 0 3 2 0 2 3 2 3 0 2 0 2 0 3 2 1 1 2 0 3 2 1 3 0 3 3 1 2 3 0 3
 0 1 1 1 3 3 2 3 3 0 1 2 0 1 3 2 2 3 1 3 0 3 3 0 2 2 3 3 2 2 1 1 2 1 2 0 1
 1 2 2 3 0 0 2 1 3 0 0 2 2 2 3 0 3 1 2 2 3 2 3 1 2 3 1 0 1 3 1 2 0 1 0 2 3
 2 2 0 1 0 0 2 1 3 2 2 3 0 0 1 2 2 2 0 0 2 0 1 3 0 0 3 3 0 3 3 0 1 2 2 1 1
 3 2 1 0 1 1 2 0 2 2 3 2 2 3 3]
0

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [51]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[21  5 26 10]
 [ 5 13  9 10]
 [11 12 17 16]
 [11 11  9 14]]

In [52]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 32.5 %

# Logistic Regression

In [53]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(data[['region']])
data['region']=scaler.transform(data[['region']])
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['ed']])
data['ed']=scaler.transform(data[['ed']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])
scaler.fit(data[['reside']])
data['reside']=scaler.transform(data[['reside']])

In [54]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17100\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [55]:
print(inputs)

       region    tenure       age    income  marital   address        ed  \
0   -0.026968 -1.055125  0.184505 -0.126506        1 -0.253034  1.087753
1    1.198836 -1.148806 -0.691812  0.546450        1 -0.451415  1.906227
2    1.198836  1.521092  0.821826  0.359517        1  1.234819 -1.367671
3   -0.026968 -0.118319 -0.691812 -0.416251        0  0.044536 -0.549196
4   -0.026968 -0.586722 -0.930808 -0.444291        1 -0.253034 -1.367671
..        ...       ...       ...       ...      ...       ...       ...
995  1.198836 -1.195646 -0.213821 -0.472331        0 -1.145747  0.269278
996 -1.252771 -1.336167 -0.612147 -0.519064        0 -0.947366  1.906227
997  1.198836  1.474252  1.379482  8.098513        0  2.821863  1.906227
998  1.198836  1.614773  0.582830  0.088466        0  0.639678 -0.549196
999  1.198836  0.677967 -0.452817 -0.360172        1 -0.451415  0.269278

       employ  retire  gender    reside
0   -0.594123       0       0 -0.230650
1   -0.594123       0       0  2.556662
2    1.787528       0       1 -0.230650
3   -1.090300       0       1 -0.927478
4   -0.891829       0       0  1.163006
..        ...     ...     ...       ...
995 -1.090300       0       1  0.466178
996 -0.594123       0       1 -0.927478
997  2.184470       0       1 -0.927478
998  1.092880       0       1 -0.927478
999 -0.792593       0       1  0.466178

[1000 rows x 11 columns]

In [56]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [57]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,train_size=0.8)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

       region    tenure       age    income  marital   address        ed  \
540 -0.026968  0.771647 -0.532482 -0.350825        1 -0.352225  1.087753
821 -0.026968 -0.867764 -1.090138 -0.378865        0 -0.848176  0.269278
166  1.198836  0.115883 -1.169804 -0.481678        1 -1.145747  1.087753
62   1.198836 -0.024638  1.060822 -0.444291        0  1.234819 -0.549196
467 -1.252771 -0.539882 -0.930808 -0.304092        1 -0.451415 -1.367671
..        ...       ...       ...       ...      ...       ...       ...
208  1.198836  1.708454  1.777808  5.574927        0  2.921053  1.087753
332  1.198836 -0.446201  0.264170 -0.416251        0  0.639678 -1.367671
373 -0.026968 -0.914604 -1.249469 -0.528411        0 -0.451415  1.087753
578 -1.252771 -0.071478  1.698143 -0.509718        1 -0.153844 -0.549196
85  -0.026968 -0.118319 -1.169804 -0.294745        1 -0.451415 -0.549196

       employ  retire  gender    reside
540 -0.991064       0       0 -0.230650
821 -0.891829       0       1 -0.927478
166 -0.891829       0       0  1.163006
62  -0.891829       0       0 -0.927478
467  0.001290       0       1 -0.230650
..        ...     ...     ...       ...
208  2.581412       0       1 -0.927478
332 -0.197181       0       0 -0.927478
373 -0.991064       0       0  2.556662
578 -1.090300       0       1 -0.230650
85  -0.395652       0       0  1.163006

[800 rows x 11 columns]
       region    tenure       age    income  marital   address        ed  \
630  1.198836  0.584286 -0.213821  0.303438        0  0.838058  1.087753
248  1.198836 -0.118319  1.060822 -0.126506        1  0.937249  0.269278
271 -1.252771  1.240051  0.742161 -0.322785        0 -0.153844  1.087753
102 -0.026968 -1.101965 -1.408799 -0.547104        0 -0.947366 -1.367671
574 -1.252771 -1.383007 -1.249469 -0.444291        0 -0.451415  0.269278
..        ...       ...       ...       ...      ...       ...       ...
420  1.198836  0.303244  1.299817 -0.519064        0 -0.451415 -1.367671
854  1.198836  0.724807 -0.373152  0.219318        1  0.540488 -0.549196
386 -0.026968 -0.118319 -0.691812 -0.201279        0 -0.451415 -0.549196
74  -0.026968  1.333731  0.503165  0.125852        1  0.143727 -0.549196
834  1.198836 -0.633562 -0.930808 -0.341479        0 -0.352225 -0.549196

       employ  retire  gender    reside
630 -0.197181       0       0 -0.927478
248 -0.097945       0       1  0.466178
271  0.795174       0       0 -0.230650
102 -1.090300       0       0 -0.927478
574 -0.991064       0       1 -0.230650
..        ...     ...     ...       ...
420 -0.693358       0       1 -0.927478
854 -0.097945       0       1 -0.230650
386  0.001290       0       0 -0.927478
74   1.291351       0       0 -0.230650
834 -0.296416       0       0 -0.927478

[200 rows x 11 columns]
     custcat
540        2
821        2
166        3
62         0
467        0
..       ...
208        2
332        0
373        3
578        3
85         0

[800 rows x 1 columns]
     custcat
630        2
248        0
271        1
102        2
574        0
..       ...
420        1
854        2
386        0
74         2
834        2

[200 rows x 1 columns]

In [58]:
# from sklearn.linear_model import LogisticRegression
# model=LogisticRegression()
# model.fit(x_train,y_train)
# y_pred=model.predict(x_test)
# print(y_pred)
# print(y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[1 3 1 0 0 0 3 2 3 2 2 1 3 2 2 0 0 1 2 3 1 3 0 0 2 2 3 3 1 1 2 3 0 0 1 1 2
 3 3 2 0 0 0 2 2 0 2 2 3 2 0 3 2 3 0 2 2 0 2 2 2 2 0 2 1 2 0 2 2 0 1 0 0 3
 2 3 0 2 0 3 3 3 3 1 1 1 3 3 0 0 2 0 3 0 2 0 3 2 0 3 2 0 2 0 3 1 0 2 3 3 1
 1 1 2 0 1 2 0 0 3 3 0 3 3 0 0 0 2 0 2 0 0 0 0 1 0 3 3 1 3 1 0 2 0 3 3 2 2
 2 2 3 2 0 0 3 1 2 0 0 0 0 2 1 1 0 1 0 1 2 2 2 0 2 2 0 2 0 0 3 0 2 2 0 2 2
 1 1 1 1 2 1 1 1 2 0 0 2 0 2 0]
     custcat
630        2
248        0
271        1
102        2
574        0
..       ...
420        1
854        2
386        0
74         2
834        2

[200 rows x 1 columns]

In [59]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[25  1 14  7]
 [ 8  8 18 12]
 [16 11 21  6]
 [16 14  8 15]]

In [60]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 34.5 %