# KNN

In [1]:
import pandas as pd
path="C:\\Users\\Sriram\\Downloads\\Data\\Data\\Iris.csv"
data=pd.read_csv(path)
print(data)
print(data.info())
print(data.isnull().sum())
print(data.Species.unique())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64
['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [2]:
inputs=data.drop(['Id','Species'],'columns')
output=data.drop(['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'],'columns')
print(inputs)
print(output)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]
            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

C:\Users\Sriram\AppData\Local\Temp\ipykernel_16624\3689993398.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['Id','Species'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_16624\3689993398.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'],'columns')

In [ ]:
# k=(150)**0.5
# print(k)

In [3]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
76             6.8           2.8            4.8           1.4
54             6.5           2.8            4.6           1.5
128            6.4           2.8            5.6           2.1
12             4.8           3.0            1.4           0.1
144            6.7           3.3            5.7           2.5
..             ...           ...            ...           ...
9              4.9           3.1            1.5           0.1
74             6.4           2.9            4.3           1.3
91             6.1           3.0            4.6           1.4
116            6.5           3.0            5.5           1.8
84             5.4           3.0            4.5           1.5

[120 rows x 4 columns]
     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
25             5.0           3.0            1.6           0.2
70             5.9           3.2            4.8           1.8
50             7.0           3.2            4.7           1.4
16             5.4           3.9            1.3           0.4
88             5.6           3.0            4.1           1.3
18             5.7           3.8            1.7           0.3
72             6.3           2.5            4.9           1.5
102            7.1           3.0            5.9           2.1
115            6.4           3.2            5.3           2.3
5              5.4           3.9            1.7           0.4
31             5.4           3.4            1.5           0.4
44             5.1           3.8            1.9           0.4
123            6.3           2.7            4.9           1.8
104            6.5           3.0            5.8           2.2
106            4.9           2.5            4.5           1.7
1              4.9           3.0            1.4           0.2
57             4.9           2.4            3.3           1.0
51             6.4           3.2            4.5           1.5
89             5.5           2.5            4.0           1.3
69             5.6           2.5            3.9           1.1
26             5.0           3.4            1.6           0.4
68             6.2           2.2            4.5           1.5
35             5.0           3.2            1.2           0.2
41             4.5           2.3            1.3           0.3
33             5.5           4.2            1.4           0.2
73             6.1           2.8            4.7           1.2
78             6.0           2.9            4.5           1.5
105            7.6           3.0            6.6           2.1
97             6.2           2.9            4.3           1.3
121            5.6           2.8            4.9           2.0
             Species
76   Iris-versicolor
54   Iris-versicolor
128   Iris-virginica
12       Iris-setosa
144   Iris-virginica
..               ...
9        Iris-setosa
74   Iris-versicolor
91   Iris-versicolor
116   Iris-virginica
84   Iris-versicolor

[120 rows x 1 columns]
             Species
25       Iris-setosa
70   Iris-versicolor
50   Iris-versicolor
16       Iris-setosa
88   Iris-versicolor
18       Iris-setosa
72   Iris-versicolor
102   Iris-virginica
115   Iris-virginica
5        Iris-setosa
31       Iris-setosa
44       Iris-setosa
123   Iris-virginica
104   Iris-virginica
106   Iris-virginica
1        Iris-setosa
57   Iris-versicolor
51   Iris-versicolor
89   Iris-versicolor
69   Iris-versicolor
26       Iris-setosa
68   Iris-versicolor
35       Iris-setosa
41       Iris-setosa
33       Iris-setosa
73   Iris-versicolor
78   Iris-versicolor
105   Iris-virginica
97   Iris-versicolor
121   Iris-virginica

In [4]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=13)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)
print(y_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

['Iris-setosa' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor'
 'Iris-setosa' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor'
 'Iris-virginica']
             Species
25       Iris-setosa
70   Iris-versicolor
50   Iris-versicolor
16       Iris-setosa
88   Iris-versicolor
18       Iris-setosa
72   Iris-versicolor
102   Iris-virginica
115   Iris-virginica
5        Iris-setosa
31       Iris-setosa
44       Iris-setosa
123   Iris-virginica
104   Iris-virginica
106   Iris-virginica
1        Iris-setosa
57   Iris-versicolor
51   Iris-versicolor
89   Iris-versicolor
69   Iris-versicolor
26       Iris-setosa
68   Iris-versicolor
35       Iris-setosa
41       Iris-setosa
33       Iris-setosa
73   Iris-versicolor
78   Iris-versicolor
105   Iris-virginica
97   Iris-versicolor
121   Iris-virginica
[[11  0  0]
 [ 0 12  0]
 [ 0  1  6]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [5]:
result=model.predict([[5.1,3.5,1.4,0.2]])
print(result[0])

Iris-setosa

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

# Decision Tree

In [17]:
import pandas as pd
path="C:\\Users\\Sriram\\Downloads\\Data\\Data\\salaries.csv"
data=pd.read_csv(path)
print(data)
print(data.info())
print(data.isnull().sum())
print(data.degree.unique())
print(data.job.unique())

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes
None
company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64
['bachelors' 'masters']
['sales executive' 'business manager' 'computer programmer']

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['company']=le.fit_transform(data[['company']])
data['job']=le.fit_transform(data[['job']])
data['degree']=le.fit_transform(data[['degree']])
print(data)
inputs=data.drop(['salary_more_then_100k'],'columns')
output=data.drop(['company','job','degree'],'columns')

    company  job  degree  salary_more_then_100k
0         2    2       0                      0
1         2    2       1                      0
2         2    0       0                      1
3         2    0       1                      1
4         2    1       0                      0
5         2    1       1                      1
6         0    2       1                      0
7         0    1       0                      0
8         0    0       0                      0
9         0    0       1                      1
10        1    2       0                      1
11        1    2       1                      1
12        1    0       0                      1
13        1    0       1                      1
14        1    1       0                      1
15        1    1       1                      1

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_16624\1157732491.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['salary_more_then_100k'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_16624\1157732491.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['company','job','degree'],'columns')

In [19]:
print(inputs)

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [20]:
print(output)

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [22]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(inputs,output)
res=model.predict([[2,2,0]])
print(res[0])

0

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(