# for loop

In [4]:
# for(i=0;i<n;i++)

In [3]:
a=range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
a=range(1,10)
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
a=range(1,10,2)
for i in a:
    print(i)

1
3
5
7
9

In [1]:
import time
a=54
print(a)
time.sleep(30)
for i in range(1,54,2):
    print(i)

54
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53

In [2]:
a='sriram'
for i in a:
    print(i)

s
r
i
r
a
m

In [3]:
a='sriram'
for i in a:
    print(i,end='')

sriram

In [4]:
a='sriram'
for i in a:
    print(i,end=' ')

s r i r a m

In [5]:
a='sriram'
for i in a:
    print(i,end=',')

s,r,i,r,a,m,

# pgm-odd/even no

In [15]:
for i in range(20):
    if(i%2==0):
        print('even no:',i)
    else:
        print('odd no:',i)

even no: 0
odd no: 1
even no: 2
odd no: 3
even no: 4
odd no: 5
even no: 6
odd no: 7
even no: 8
odd no: 9
even no: 10
odd no: 11
even no: 12
odd no: 13
even no: 14
odd no: 15
even no: 16
odd no: 17
even no: 18
odd no: 19

In [2]:
n=int(input('enter no of column value:'))
for i in range(n+1):
    print('*')

enter no of column value:6
*
*
*
*
*
*
*

In [18]:
n=int(input('enter no of column value:'))
for i in range(n+1):
    print('*'*n)

enter no of column value:6
******
******
******
******
******
******
******

# nested for loop

In [19]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print("*",end='')
    print()

enter no of rows value:6
******
******
******
******
******
******

In [20]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=' ')
    print()

enter no of rows value:7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

In [21]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=' ')
    print()

enter no of rows value:6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [23]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i-j,end=' ')
    print()

enter no of rows value:6
0 -1 -2 -3 -4 -5
1 0 -1 -2 -3 -4
2 1 0 -1 -2 -3
3 2 1 0 -1 -2
4 3 2 1 0 -1
5 4 3 2 1 0

In [10]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+i),end=' ')
    print()

enter no of rows value:5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [11]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end=' ')
    print()

enter no of rows value:6
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F
A B C D E F

In [32]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
        print('*'*i)

enter no of rows value:5
*
**
***
****
*****

In [34]:
n=int(input('enter no of rows value:'))
for i in range(n+1,-1,-1):
        print('*'*i)

enter no of rows value:5
******
*****
****
***
**
*

In [26]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
         print('*'*i)

enter no of rows value:7
*
*
*
*
*
*
*
**
**
**
**
**
**
**
***
***
***
***
***
***
***
****
****
****
****
****
****
****
*****
*****
*****
*****
*****
*****
*****
******
******
******
******
******
******
******
*******
*******
*******
*******
*******
*******
*******

In [25]:
n=int(input('enter no of rows value:'))
for i in range(1,n+1):
    for j in range(1,n+1):
         print('*'*j)

enter no of rows value:7
*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******
*
**
***
****
*****
******
*******