In [1]:
import pandas as pd
path="C:\\Users\\Sriram\\Downloads\\40_customerClassification\\Telecust1.csv"
data=pd.read_csv(path)

print(data)
print(data.info())

     region  tenure  age  income  marital  address  ed  employ  retire  \
0         2      13   44      64        1        9   4       5       0
1         3      11   33     136        1        7   5       5       0
2         3      68   52     116        1       24   1      29       0
3         2      33   33      33        0       12   2       0       0
4         2      23   30      30        1        9   1       2       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
995       3      10   39      27        0        0   3       0       0
996       1       7   34      22        0        2   5       5       0
997       3      67   59     944        0       40   5      33       0
998       3      70   49      87        0       18   2      22       0
999       3      50   36      39        1        7   3       3       0

     gender  reside custcat
0         0       2       A
1         0       6       D
2         1       2       C
3         1       1       A
4         0       4       C
..      ...     ...     ...
995       1       3       A
996       1       1       A
997       1       1       D
998       1       1       C
999       1       3       B

[1000 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   region   1000 non-null   int64
 1   tenure   1000 non-null   int64
 2   age      1000 non-null   int64
 3   income   1000 non-null   int64
 4   marital  1000 non-null   int64
 5   address  1000 non-null   int64
 6   ed       1000 non-null   int64
 7   employ   1000 non-null   int64
 8   retire   1000 non-null   int64
 9   gender   1000 non-null   int64
 10  reside   1000 non-null   int64
 11  custcat  1000 non-null   object
dtypes: int64(11), object(1)
memory usage: 93.9+ KB
None

In [2]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['custcat']=le.fit_transform(data[['custcat']])
inputs=data.drop(['custcat'],'columns')
output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17772\585491344.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['custcat'],'columns')
C:\Users\Sriram\AppData\Local\Temp\ipykernel_17772\585491344.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  output=data.drop(['region','tenure','age','income','marital','address','ed','employ','retire','gender','reside'],'columns')

In [3]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(data[['tenure']])
data['tenure']=scaler.transform(data[['tenure']])
scaler.fit(data[['age']])
data['age']=scaler.transform(data[['age']])
scaler.fit(data[['income']])
data['income']=scaler.transform(data[['income']])
scaler.fit(data[['address']])
data['address']=scaler.transform(data[['address']])
scaler.fit(data[['employ']])
data['employ']=scaler.transform(data[['employ']])

In [4]:
print(inputs)

     region  tenure  age  income  marital  address  ed  employ  retire  \
0         2      13   44      64        1        9   4       5       0
1         3      11   33     136        1        7   5       5       0
2         3      68   52     116        1       24   1      29       0
3         2      33   33      33        0       12   2       0       0
4         2      23   30      30        1        9   1       2       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
995       3      10   39      27        0        0   3       0       0
996       1       7   34      22        0        2   5       5       0
997       3      67   59     944        0       40   5      33       0
998       3      70   49      87        0       18   2      22       0
999       3      50   36      39        1        7   3       3       0

     gender  reside
0         0       2
1         0       6
2         1       2
3         1       1
4         0       4
..      ...     ...
995       1       3
996       1       1
997       1       1
998       1       1
999       1       3

[1000 rows x 11 columns]

In [5]:
print(output)

     custcat
0          0
1          3
2          2
3          0
4          2
..       ...
995        0
996        0
997        3
998        2
999        1

[1000 rows x 1 columns]

In [6]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,output,test_size=0.2)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     region  tenure  age  income  marital  address  ed  employ  retire  \
890       1      38   55     135        1       12   2      24       0
333       1      20   37      46        0        5   3      10       0
354       2      17   38      18        1       19   4       0       0
391       2      72   60      12        1       33   1      20       1
517       1      13   23      30        1        3   3       0       0
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
273       2      48   55      26        0       31   1       1       0
228       3       6   33      26        0       12   3       0       0
773       3      49   63      10        0       18   2       2       1
261       2      19   46      26        0       11   2       0       0
155       1       3   24      20        1        2   2       3       0

     gender  reside
890       0       4
333       1       4
354       1       4
391       0       3
517       1       4
..      ...     ...
273       0       1
228       0       1
773       0       1
261       1       1
155       1       5

[800 rows x 11 columns]
     region  tenure  age  income  marital  address  ed  employ  retire  \
950       3      16   35      46        0        7   3       3       0
660       2      45   54     171        0       25   3      33       0
483       1       7   23      27        0        3   2       1       0
501       3      32   35      57        0       12   4       5       0
39        2      72   57      22        0       34   2      35       1
..      ...     ...  ...     ...      ...      ...  ..     ...     ...
647       1      11   26      53        0        2   3       3       0
883       2      23   31      45        0       10   4       0       0
185       3      24   26      32        0        2   3       2       0
560       1      65   48      94        0       28   1      25       0
450       1      46   31      21        1       12   1       5       0

     gender  reside
950       0       1
660       1       1
483       1       3
501       0       1
39        1       1
..      ...     ...
647       0       1
883       0       2
185       0       3
560       0       1
450       0       5

[200 rows x 11 columns]
     custcat
890        3
333        3
354        1
391        3
517        3
..       ...
273        0
228        2
773        2
261        0
155        2

[800 rows x 1 columns]
     custcat
950        0
660        2
483        0
501        1
39         2
..       ...
647        3
883        1
185        0
560        1
450        2

[200 rows x 1 columns]

In [7]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=13)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)
print(y_test)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

[0 2 3 2 1 1 2 1 2 2 3 0 1 1 2 2 3 3 0 2 0 2 3 3 1 0 3 0 2 0 0 3 2 2 0 2 1
 0 3 0 1 3 3 3 0 0 1 3 2 3 3 2 1 1 1 0 2 3 1 1 2 0 1 1 2 0 0 0 0 2 2 2 0 2
 0 1 0 2 3 1 3 0 1 1 1 2 0 1 2 0 1 1 3 2 3 1 0 2 0 0 0 0 2 1 1 0 1 1 2 0 3
 3 2 2 0 0 0 0 0 2 1 2 2 1 2 3 1 2 2 1 3 2 0 2 0 2 0 1 1 0 3 3 0 3 2 0 1 2
 2 1 1 2 0 1 2 2 2 0 2 0 0 0 2 1 3 2 3 0 2 1 0 0 1 1 3 0 0 1 3 0 2 3 2 1 0
 0 1 2 2 2 0 2 0 2 2 0 2 2 2 0]
     custcat
950        0
660        2
483        0
501        1
39         2
..       ...
647        3
883        1
185        0
560        1
450        2

[200 rows x 1 columns]
[[25  6 11 10]
 [ 7 16 18  6]
 [18 12 19  6]
 [10 12 14 10]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [8]:
from sklearn.metrics import accuracy_score
print("accuracy score :",accuracy_score(y_test,y_pred)*100,"%")

accuracy score : 35.0 %